.modal-footer .btn-primary{
    width: 100px;
    height: 37px;
}

.spinner-border{
    width: 1.5rem!important;
    height: 1.5rem!important;
}

#module {
    font-size: 1rem;
    line-height: 1.5;
}

#module #collapseExample.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}

#module #collapseExample.collapsing {
    height: 3rem;
}

#module a.collapsed::after {
    content: '+ Show More';
}

#module a:not(.collapsed)::after {
    content: '- Show Less';
}

.tab-pane .table-container{
    margin-top: 30px;
    text-align: center;
    overflow-x: auto;

}

.tab-pane .menu-table{
    margin-top: 35px;
    justify-content: center;
}

table td,th {
    vertical-align: middle;
}

@media (min-width: 992px) {
    .buttons-actions {
        padding: 7em 2em 7.6em;
    }
}

