@font-face {
    font-family: "rubik";
    src: url("../font/Rubik-Regular.ttf");
}

*{
    font-family: rubik;
}

body{
    background-color: #f1f4f5;
    font-size: 14px;
}

small{
    float: right;
}

input{
    margin-bottom: 15px;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.entrar-button{
    color: white;
    width: 300px;
    margin-top: 35px;
}

.box{
    width: 35%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 35px;
}

